html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.contenedor-titulo {
  text-align: center;
  margin-top: 38vh;
  margin-bottom: 53vh;
  text-align: center;
}

header {
  background: linear-gradient(rgba(0,0,0,.0),
              rgba(72,201,176,.3)),
              url(img/fondo.jpg);
  height: 100vh;
  background-size: cover;
  background-position:50% 0%;
}

h1 {
  font-size: 60px;
  color: #000;
  margin: 0;
}

.coming {
  font-size: 80px; 
}

h2 {
  font-size: 25px;
  color: #000;
}

h3 {
    font-size: 20px;
}

.contenedor-menu {
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

p.logo {
  color: #000;
  font-size: 20px;
  line-height: 31px;
  margin-left: 17px;
  font-weight: bold;
}

nav ul li a {
  color: #fff;
}

.contenedor-build {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

/* RESPONSIVE DESIGN */
@media (max-width: 950px) { 
  h1 {
    font-size: 34px;
  }
  
  h2 {
    font-size: 97%;
  }
  
  h3 {
    font-size: 100%;
  }
  
  .coming {
    font-size: 275%;
  }
  
  .contenedor-build img {
    height: 31vh; 
  }
}

/* IPAD */
@media (min-width: 600px) and (max-width:950px) {
  .contenedor-build img {
    height: 35vh; 
  }
}

  
